/*Functions first*/
@import "../node_modules/bootstrap/scss/functions";
/* Some required and optional imports*/
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/navbar";
/*Custom styles*/
*, ::after, ::before {
    box-sizing: border-box;
}
:root {
    --bs-bb-yellow:#ff0;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-bf-purple:rgba(207, 123, 255, 0.976);
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-ps-red: #ee4152;
    --bs-r-red: #f9a0a9f1;
    --bs-orange: #ff9d4dfb; 
    --bs-coorange: #ffdc96f3; 
    --bs-yellow: #ffe8b5fa;
    --bs-ye-purple: #d5f0ff;
    --bs-green: #198754;
    --bs-bgab-green: #4dd6ff;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-bb-lack: #1449cef7;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1c4b91;
    --bs-primry: #0d6efd;
    --bs-gb-primary:#2145fb;
    --bs-secondary: #136ba2;
    --bs-success: #198754;
    --bs-sc-success: #0f19a7fa;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-bb-warning: #ffca2afb;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-gab-light: #e8e8e8fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body: #f9f9f9;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
html {
    display: block; 
}
body{
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    font-family: Helvetica !important;
    --bs-body-line-height: 1.5!important;
}
.row {
    --bs-gutter-x: 0.375rem;
    --bs-gutter-y: 0;
}
#Begin{
    display: inline-block!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-weight: bolder!important;
    font-size: 45px!important;
    color: #393939!important;
    width: 100%!important;
    justify-content: center!important;
    align-items: center;
    margin-top: 50px!important;

}
#TopNav{
    width: 100%!important;
    display: block!important;
    height: 40px!important;
    justify-content: center!important;
    align-items: center!important;
    background-color: #0d6efd!important;
    padding-left: 0.15rem!important;
}
#demo{
    width: 100%!important;
    height: auto!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    font-size: 13px!important;
    font-weight: bold;
    color: #fff!important;
    margin-top: 5px!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
#Navbar{
    width: 100%!important;
    height: auto!important;
    flex-direction: column!important;
    background-color: #560d78fc!important;
    font-size: 20px!important;
    padding: 5px!important;
    border-top: 0.1rem solid transparent!important;
    box-shadow: 0 0.1rem 0.25rem 0.1rem #286cff72!important;
}
#Navbar:hover{
    background-color: #dee9fffd!important;
    border-top: 0.1rem solid #a01adef2!important;
    transition: background-color 0.3s ease-in-out;
}
.navbar-toggler-icon{
    background-color: var(--bs-white)!important;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: bolder!important;
    font-size: 20px!important;
    background-color: var(--bs-bb-yellow)!important;
}
.navbar-brand:hover{
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: bolder!important;
    font-size: 20px!important;
    background-color: rgba(219, 156, 255, 0.988)!important;
    transition: background-color 0.3s ease-in-out;   
}
ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    }
li{
    display: inline-block;
    list-style: none; 
}
a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.HOVER{
    text-decoration: none;
}
.HOVER:hover{
    font-weight: bold;
    text-decoration: underline;
    color: var(--bs-bb-yellow)!important;
    transition: background-color 0.3s ease-in-out;
}
.ROVER{
    text-decoration: none;
}
#Beauty{
    align-items: center!important;
    background-color: #6296fffc!important;
    padding: 20px!important;
    height: auto!important;
}
.footer{
    display: block;
    width: 100%;
    height:190px;
    justify-content: center;
    align-items: center;
    
}
#Bo{
    border: 2px solid #a311f8f1!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: bolder!important;
    border-radius: 20px!important;
    box-shadow: 4px 3px 5px 1px!important;
}
#Bo:hover{
    font-family: inherit!important;
    font-weight: bolder!important;
    transition: background-color all 0.3s ease-in-out!important;
}
#Basic{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-weight: bolder!important;
    font-size: 40px!important;
    color:#000!important;
    width: 100%!important;
    justify-content: center!important;
    align-items: center;
}
#Block-wrappo{
    width: 100%!important;
    height: auto!important;
    display: flex!important;
    flex-direction: column!important;
    background-color: #74beffe9!important;
    justify-content: center!important;
    align-items:center!important;
    padding-top: 65px!important;
    padding-bottom: 115px!important;
}
#Block-wrapper{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #fe5959dc!important;
    padding-top: 250px!important;
    padding-bottom: 250px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block-wrap{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #ffe188fb!important;
    padding-top: 250px!important;
    padding-bottom: 250px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block-wrapp{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #071a5cef!important;
    padding-top: 250px!important;
    padding-bottom: 250px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block-wrappe{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #e3d7fff0!important;
    padding-top: 250px!important;
    padding-bottom: 250px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    font-size: 20px!important;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace!important;
    font-weight: bold!important;
    line-height: 1.7!important;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    border-radius: 6px!important;
    padding: 20px!important;
    color: #000!important;
    background-color: #fff!important;
    box-shadow: 1px 0.5px 2px 1px rgba(0, 0, 0, 0.406)!important;
}
#Block:hover{
    width: 100%!important;
    height: auto!important;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    font-size: 20px!important;
    font-weight: bold!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: block!important;
    background-color: #f4ff95fb!important;
    color: var(--bs-white)!important;
    line-height: 1.7!important;
    border-radius: 10px!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}

 #Pati{
    display: block!important;
    width: 100%;
    height: auto;
    font-size: 20px!important;
    justify-content: center;
    align-items: center;
    display: block!important;
    font-weight: bold!important;
    font-family: "Courier New", Courier, monospace!important;
    line-height: 1.6!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 20px!important;
    color: #000!important;
    border: 0.12rem dotted #000!important;
}
#Pati:hover{
    width: 100%;
    height: auto;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: block!important;
    background-color: orange!important;
    color: #000!important;
    line-height: 1.6!important;
    border-radius: 20px!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}
#Pat{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    justify-content: center;
    align-items: center;
    display: block!important;
    font-family: "Courier New", Courier, monospace!important;
    line-height: 1.5!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 20px!important;
    color: #000!important;
    border: 0.12rem dotted #000!important;
}
#Pat:hover{
    width: 100%!important;
    height: auto!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: block!important;
    border: 0.12rem solid var(--bs-black)!important;
    background-color: #ffcc35fb!important;
    color: #000!important;
    line-height: 1.5!important;
    border-radius: 20px!important;
    transition: background-color all 0.35s ease-in-out;
    cursor: pointer;
}
#Static{
    display: block!important;
    justify-content: center;
    align-items: center;
}
#Topa{
    display:block!important;
    justify-content: center;
    align-items: center;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    width: 100%;
    height: auto;
    font-weight: bold!important;
    font-size: 20px!important;
    color: #000 !important;
    padding: 20px!important;
    border: 0.12rem dotted #000!important;
    line-height: 1.6!important;
    font-family: "Courier New", Courier, monospace!important;
}
#Topa:hover{
    display:block!important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 20px!important;
    padding: 20px!important;
    border: 0.12rem solid #000!important;
    background-color: var(--bs-bgab-green)!important;
    color: #000!important;
    border-radius: 20px!important;
    line-height: 1.6!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}
#Atop{
    width: 100%;
    height: auto;
    font-size: 20px!important;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: block!important;
    line-height: 1.6!important;
    font-family: "Courier New", Courier, monospace!important;
    border: 0.12rem dotted #000!important;
}
#Atop:hover{
    background-color: var(--bs-danger)!important;
    border: 0.12rem solid #000!important;
    color:#fff!important;
    font-size: 20px!important;
    width: 100%!important;
    height: auto!important;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.6!important;
    justify-content: center !important;
    align-items: center !important;
    display: block!important;
    border-radius: 20px!important;
    transition: background-color all 0.3s ease-in-out !important;
    cursor: pointer !important;
}
#Pate{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    justify-content: center!important;
    align-items: center!important;
    display: block!important;
    position: relative!important;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    padding: 20px!important;
    color: #000!important;
    background-color: var(--bs-gradient)!important;
}
.sisi{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: flex!important;
    background-color: var(--bs-white)!important;
    color: #000!important;
    line-height: 1.5!important;
    border-radius: 20px!important;
}
/*End of custom styles*/
@import "../node_modules/bootstrap/scss/utilities";
