/*Functions first*/
@import "../node_modules/bootstrap/scss/functions";
/* Some required and optional imports*/
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/navbar";
/*Custom styles*/
*, ::after, ::before {
    box-sizing: border-box;
}
:root {
    --bs-bb-yellow:rgb(254, 254, 1);
    --bs-blue: #0d6efd;
    --bs-bb-blue: #184486;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-bf-purple:rgba(207, 123, 255, 0.976);
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-redd:#7e0b39f6;
    --bs-ps-red: #ff6776e4;
    --bs-r-red: #f9a0a9f1;
    --bs-orange: #ff9d4dfb; 
    --bs-coorange: #ffdc96f3; 
    --bs-yellow: #ffe8b5fa;
    --bs-ye-purple: #d5f0ff;
    --bs-green: #198754;
    --bs-bgab-green: #4dd6ff;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-bb-lack: #1449cef7;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1c4b91;
    --bs-primray: #0d6efd;
    --bs-gb-primary:#2145fb;
    --bs-secondary: #136ba2;
    --bs-success: #198754;
    --bs-sc-success: #0f19a7fa;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-bb-warning: #ffca2afb;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-gab-light: #e8e8e8fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body: #f9f9f9;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
html {
    display: block; 
}
body{
   scroll-behavior: smooth!important;
   font-family: Georgia, 'Times New Roman', Times, serif!important;
}

.row {
    --bs-gutter-x: 0.375rem;
    --bs-gutter-y: 0;
}
#TopNav{
    height: 40px!important;
    width: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    background-color: #ff4c28fd!important;
}
#demo{
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    font-size: 13px!important;
    font-weight: lighter!important;
    margin-top: 4px!important;
    color: #fff!important;
    font-weight: bolder!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}
#demo:hover{
    color:#fff!important;
    transition: background-color 0.3s ease-in-out;
}
#Navbar{
    display: flex!important;
    width: 100%!important;
    height: 100%!important;
    flex-direction: column!important; ;
    background-color: #fff!important;
    border-top: 0.13rem solid #ff4c28fd!important;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    position: sticky!important;
    top: 0!important;
    z-index: 1!important;
    padding: auto;
}  
#Logo{
    display: flex!important;
    width: 80px!important;;
    height: 45px!important;;
    padding: 20px!important;
    padding-top: 22px!important;
    border: 2px solid #000!important;
    border-top: 0.4rem solid red!important;
    justify-content: center!important;
    align-items: center!important;
    border-bottom-left-radius: 14px!important;
    border-bottom-right-radius: 14px!important;
}
#Logo:hover{
    background-color: #fff!important;
    transition: background-color 0.3s ease-in-out;   
}
#B{
font-size: 11.25px!important;
}
#H6{
font-size: 11px!important;
color: #000!important
}
#Nav-One{
    width: 100%!important;
    height: 42px!important;
    display: flex!important;
    flex-direction: row!important;
    background-color: rgba(18, 43, 167, 0.987)!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    font-size: 16px!important;
    padding: 5px!important;
}
#SERVICES:hover{
    background-color: #fff!important;
    transition: background-color 0.3s ease-in-out!important;
    color: #000!important;
}
.navbar-toggler-icon{
    background-color: transparent!important;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    background-color: #93ffcd92!important;
    font-weight: bolder!important;
    margin-top: -5px!important;
}
ul{       
    margin: 0;
    padding: 0;
    list-style: none;
    }
li{
    list-style: none; 
    margin-left: 27px!important;
}
a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.HOVER{
    text-decoration: none;
}
.HOVER:hover{
    font-weight: bold;
    text-decoration: underline;
    color: var(--bs-bb-blue)!important;
    transition: background-color 0.3s ease-in-out;
}
.ROVER{
    text-decoration: none;
}
.footer{
    display: block;
    width: 100%;
    height: 111px;
    justify-content: center;
    align-items: center;
    
}.Bo{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100%!important;
    height: 23px!important;
    font-family: "Podkova", serif!important;
    font-size: 20px!important;
    color:#1c66af!important;
    border-bottom: 0.25rem solid transparent!important;
    font-weight: bolder!important;
    margin-top: 8px!important;
}
.Bo:hover{
    border-bottom: 0.25rem solid rgb(58, 143, 223)!important;
    transition: background-color all 0.35s ease-in-out!important;
    color: rgb(255, 30, 0)!important;
    font-weight: bolder!important;
}
#Beauty{
    align-items: center!important;
    background-image: linear-gradient(#1439dd42, #152fd7b2)!important;
    padding: 10px!important;
    height: 100%!important;
    border-radius: 0.5rem!important;
}
#Begin{
    display: block!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
    font-weight: bolder!important;
    font-size: 45px!important;
    color: #393939!important;
    width: 100%!important;
    height: 100%!important;
    justify-content: center!important;
    align-items: center!important;

}
#Tech{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    width: 90%!important;
    font-size: 20px!important;
    padding: 5px;
    height: auto!important;
    background-color: #f2f2f2;
    text-align: left!important;
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    color:rgba(255, 87, 15, 0.961)!important;
    border: none!important;
    margin-left: 15px!important;
}
#Wel{
    display: flex!important;
    flex-direction: column!important;
    width: 47.25%!important;
    height: 100%!important;
    padding: 40px!important;
    border-radius: 0.4rem!important;
    background-color: #fff!important;
    margin-bottom: 3rem!important;
}
#Wel:hover{
     background-color: #4effac78!important;
     transition: 0.31s background-color ease-in-out!important;
}
#LuL{
    font-size: 14px!important;
}
#Welcome{
    width: 93%;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    color: #000!important;
    font-family: "Podkova", serif!important;
    font-size: 20px!important;
    line-height: 1.6!important;
    padding: 20px!important;
    border-radius: 0.25rem!important;
    background-color: #fff!important;
    box-shadow: 1px 2px 3px 0.27px #92929285!important;
    margin-top: -2.07rem!important;
    margin-bottom: 1rem!important;
}

.figure-caption{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    font-size: 16px!important;
    color:rgba(158, 81, 18, 0.904)!important;
}
.figure-caption:hover{
    color: rgb(19, 148, 247)!important;
    transition: 0.3s background-color ease-in-out;
}
.card:hover{
    background-color: #93ffcd92!important;
    transition: 0.31s background-color ease-in-out!important;
}
.card-body:hover{
background-color: #f5fcffe9!important;
border-radius: 0.15rem!important;
}
#LearninG{
    font-family: "Podkova", serif!important;
    font-size: 19.5px!important;
    color:rgba(7, 7, 7, 0.757)!important;
    line-height: 1.55!important;
}
#WelcomeA{
    width: 100%!important;
    height: auto!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
    font-family: Arial, Helvetica, sans-serif!important;
    padding: 25px!important;
    border-radius: 0.25rem!important;
}
#Three{
    width: 100%!important;
    height: 600px!important;
    font-family:Georgia, 'Times New Roman', Times, serif!important;
    border-radius:0.25rem!important;
    display: flex!important;
    flex-wrap: wrap!important;
    justify-items: center!important;
    align-items: center!important;
    padding: 20px!important;
    background-color: #fff!important;
    box-shadow: 0 0 2px 0.25px #b8b8b8f0!important;
    color: var(--bs-blue)!important;
}
#Three:hover{
    background-color: #ffd7ffdc!important;
    transition: background-color 0.32s ease-in-out!important;
}
.Header{
    width: 100%!important;
    font-weight: bolder!important;
    font-size: 35px!important;
    color: rgba(255, 99, 32, 0.977)!important;
    justify-content: center!important;
    align-items: center!important;
    padding: 20px!important;
    margin-bottom: 0.4rem!important;
    font-family: "Podkova", serif!important;
}
#RES{
    color: #ed8b0cf7!important;
}
#Blockos{
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    padding-top: 50px!important;
    padding-bottom: 60px!important;
}
#Block-wrappo{
    width: 100%!important;
    height: 100%!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items:center!important;
    background-color: #f2f2f2!important;
}
#Block-wrapper{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: transparent!important;
    padding-top: 30px!important;
    padding-bottom: 50px!important;
    justify-content: space-between!important;
    align-items:center!important;
}
#Block-wrap{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #ffffff!important;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block-wrapp{
    width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: rgba(28, 83, 211, 0.771)!important;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Block-wrappe{
   width: 100%!important;
    height: auto!important;
    display: block!important;
    flex-direction: column!important;
    background-color: #ff775572!important;
    padding-top: 100px!important;
    padding-bottom: 100px!important;
    justify-content: center!important;
    align-items:center!important;
}
#Blockus{
    width: 100%!important;
    height: auto!important;
    display: flex!important;
    padding: 40px!important;
    justify-content: center!important;
    justify-items: center!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
#Block{
    width: 49.5%!important;
    height: auto!important;
    display: block!important;
    font-size: 15px!important;
    line-height: 1.68!important;
    justify-content: center!important;
    align-items: center!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    padding: 5px!important;
    color: #000!important;
    border-radius: 10px!important;
    background-color: #fff!important;
    box-shadow: 1px 0.5px 2px 1px rgba(0, 0, 0, 0.406)!important;
}
#Bloc{
    width: 49.5%!important;
    height: auto!important;
    display: block!important;
    font-size: 20px!important;
    justify-content: center!important;
    align-items: center!important;
    line-height: 1.6!important;
    padding: 5px!important;
    color: #000!important;
    border-right: 0.5rem solid var(--bs-dark)!important;
    border-radius: 20px!important;
    background-color: #fff!important;
    box-shadow: 1px 0.5px 2px 1px rgba(0, 0, 0, 0.406)!important;
}
#Bloc:hover{
    line-height: 1.6!important;
    padding: 5px!important;
    background-color: rgba(255, 255, 116, 0.95)!important;
    box-shadow: 1px 0.5px 2px 1px rgba(0, 0, 0, 0.406)!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}
 #Pati{
    display: block!important;
    width: 100%;
    height: auto;
    font-size: 20px!important;
    justify-content: center;
    align-items: center;
    display: block!important;
    font-weight: bold!important;
    font-family: "Courier New", Courier, monospace!important;
    line-height: 1.6!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 20px!important;
    color: #000!important;
    border: 0.12rem dotted #242424!important;
}
#Pati:hover{
    width: 100%;
    height: auto;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: block!important;
    background-color: rgba(255, 207, 118, 0.926)!important;
    color: #000!important;
    line-height: 1.6!important;
    border-radius: 20px!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}
#Pat{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    justify-content: center;
    align-items: center;
    display: block!important;
    font-family: "Courier New", Courier, monospace!important;
    line-height: 1.5!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 20px!important;
    color: #000!important;
    border: 0.12rem dotted #000!important;
}
#Pat:hover{
    width: 100%!important;
    height: auto!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: block!important;
    border: 0.12rem solid var(--bs-black)!important;
    background-color: #ffcc35fb!important;
    color: #000!important;
    line-height: 1.5!important;
    border-radius: 20px!important;
    transition: background-color all 0.35s ease-in-out;
    cursor: pointer;
}
#Static{
    display: block!important;
    justify-content: center;
    align-items: center;
}
#Topa{
    display:block!important;
    justify-content: center;
    align-items: center;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    width: 100%;
    height: auto;
    font-weight: bold!important;
    font-size: 20px!important;
    color: #000 !important;
    padding: 20px!important;
    border: 0.12rem dotted #000!important;
    line-height: 1.6!important;
    font-family: "Courier New", Courier, monospace!important;
}
#Topa:hover{
    display:block!important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 20px!important;
    padding: 20px!important;
    border: 0.12rem solid #000!important;
    background-color: var(--bs-bgab-green)!important;
    color: #000!important;
    border-radius: 20px!important;
    line-height: 1.6!important;
    transition: background-color all 0.3s ease-in-out;
    cursor: pointer;
}
#Atop{
    width: 100%;
    height: auto;
    font-size: 20px!important;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: block!important;
    line-height: 1.6!important;
    font-family: "Courier New", Courier, monospace!important;
    border: 0.12rem dotted #000!important;
}
#Atop:hover{
    background-color: var(--bs-danger)!important;
    border: 0.12rem solid #000!important;
    color:#fff!important;
    font-size: 20px!important;
    width: 100%!important;
    height: auto!important;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.6!important;
    justify-content: center !important;
    align-items: center !important;
    display: block!important;
    border-radius: 20px!important;
    transition: background-color all 0.3s ease-in-out !important;
    cursor: pointer !important;
}
#Pate{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    justify-content: center!important;
    align-items: center!important;
    display: block!important;
    position: relative!important;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    padding: 20px!important;
    color: #000!important;
    background-color: var(--bs-gradient)!important;
}
.sisi{
    width: 100%!important;
    height: auto!important;
    font-size: 20px!important;
    padding: 20px!important;
    font-family: "Courier New", Courier, monospace!important;
    display: flex!important;
    background-color: var(--bs-white)!important;
    color: #000!important;
    line-height: 1.5!important;
    border-radius: 20px!important;
}
/*End of custom styles*/
@import "../node_modules/bootstrap/scss/utilities";
